// Main color theme for the project
:root {
	--main-color: #005f66;
	--bs-primary: #005f66;
}

$primary: #005f66;

// Optionally override Bootstrap primary color
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
$theme-colors: map-merge($theme-colors, ("primary": $primary));
@import 'bootstrap/scss/bootstrap';
